.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.error{
  font: bold;
  color:rgb(255, 115, 0);
}
button{
  border: none;
  border-radius: 10px;
  margin: 10px;
  width: 100px;
  height: 50px;
  color: #EDFBC1;
  background-color: #225560;
}
button:hover{
  cursor: pointer;
  background-color: #15616D;
}
input{
  outline: none;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2em;
}
.warning{
  text-align: center;
  color: #fff;
}